rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow update: if request.auth != null &&
        ((resource.data.likedBy.has(request.auth.uid) && request.resource.data.likedBy == resource.data.likedBy - [request.auth.uid]) ||
        (!resource.data.likedBy.has(request.auth.uid) && request.resource.data.likedBy == resource.data.likedBy + [request.auth.uid]));
    }
  }
}
